@import "materialize";

$first-color: #004d40 !default;
$card-color: #fdd835 !default;


.card-encabezado-ms {
  padding: 5px 24px;
  background-color: $first-color !important;
  }
.card-fondo {
  background-color: $card-color !important;
}
